<%= form_for(@tile) do |f| %>
  <% if @tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tile.errors.count, "error") %> prohibited this tile from being saved:</h2>

      <ul>
      <% @tile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xposition %><br>
    <%= f.number_field :xposition %>
  </div>
  <div class="field">
    <%= f.label :yposition %><br>
    <%= f.number_field :yposition %>
  </div>
  <div class="field">
    <%= f.label :xoffset %><br>
    <%= f.number_field :xoffset %>
  </div>
  <div class="field">
    <%= f.label :yoffset %><br>
    <%= f.number_field :yoffset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
