<%= form_for(@energy_building) do |f| %>
  <% if @energy_building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@energy_building.errors.count, "error") %> prohibited this energy_building from being saved:</h2>

      <ul>
      <% @energy_building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :poweroutput %><br>
    <%= f.number_field :poweroutput %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
