<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @map.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @map.height %>
</p>

<p>
  <strong>Tilewidth:</strong>
  <%= @map.tileWidth %>
</p>

<p>
  <strong>Tileheight:</strong>
  <%= @map.tileHeight %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
