<%= form_for(@power_connection) do |f| %>
  <% if @power_connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@power_connection.errors.count, "error") %> prohibited this power_connection from being saved:</h2>

      <ul>
      <% @power_connection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :load %><br>
    <%= f.number_field :load %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
